<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App de Viajes</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/card.css">
</head>
<body>
  <div class="card">
    <header>
      <div class="user-info">
        <div class="user-details">
          <img src="./img/usuario-2.png" alt="Avatar del usuario">
          <div>
            <h2><%= usuario.username.charAt(0).toUpperCase() + usuario.username.slice(1) %></h2>
            <span class="stars">★★★☆☆</span>
          </div>
        </div>
        <div class="notifications">
          <img src="./img/notificacion.png" alt="">
        </div>
      </div>
    </header>
      <legend>Disponibles</legend>
    <div class="viajes">
      <div class="search">
        <a href="#"><img src="./img/search.png" alt=""></a>
      </div>
      <div class="sect">
        <div class="via">
          <img src="./img/active.png" alt="" class="active">
          <img src="./img/car.png" alt="" class="car">
          <div class="inf">
            <span>VIAJE 1</span>
           <span class="conductor">Alan Mayorga</span>
          </div>
           <a href="./asientos.html"><img src="./img/next.png" alt="" class="next"></a>
        </div>
        <div class="via">
          <img src="./img/active.png" alt="" class="active">
          <img src="./img/car.png" alt="" class="car">
          <div class="inf">
            <span cñ>VIAJE 2</span>
           <span class="conductor">Joel Garcia</span>
          </div>
          <a href="./asientos.html"><img src="./img/next.png" alt="" class="next"></a>
        </div>
        <div class="actions">
          <a href="#"><img src="./img/borrar.png" alt="" class="delete"></a>
          <a href="#"><img src="./img/agregar.png" alt="" class="add"></a>
        </div>
      </div>
          
    </div>
    
    <div class="historial">
      <div class="uno">
        <h3>MIS VIAJES</h3>
        <span></span>
      </div>
      <div class="info">
        <img src="./img/carretera.png" alt="" class="street">
        <div>
          <div class="hist">
            <img src="./img/ok.png" alt="" class="next">
            <img src="./img/car.png" alt="" class="car2">
            <span class="date">18/04/2023</span>
            <span>Alan Mayorga</span>
          </div>
          <div class="hist">
            <img src="./img/x.png" alt="" class="next">
            <img src="./img/car.png" alt="" class="car2">
            <span class="date">14/02/2023</span>
            <span>Joel Garcia</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
