
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

span {
  display: block;
}

h2 {
  color: #9B59B6;
}

header {
  width: 100%;
  padding-bottom: 20px;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details h1 {
  font-size: 1.2em;
  margin: 0;
}

.rating {
  display: flex;
  align-items: center;
  font-size: 1em;
}

.stars {
  color: #f1c40f;
  font-size: 1em;
}

.notifications img {
  width: 37.5px;
  height: 40px;
}



.center-vertically {
  display: flex;
  flex-direction: column;
  align-items: center;
}

legend {
  font-size: 24px;
  color: #fff;
  width: 175px;
  height: 40px;
  border-radius: 10px;
  margin: 0;
  background-color: #9B59B6;
  position: relative;
  z-index: 1;
  padding: 5px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-details {
  display: flex;
  align-items: center;
}

.user-details img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details div {
  display: flex;
  flex-direction: column;
}

.user-details h2 {
  padding-right: 150px;
  font-size: 1.2em;
  margin: 0;
}

.stars {
  padding-right: 150px;
  color: #f1c40f;
  font-size: 1em;
}

.notifications {
  margin-left: auto;
}

.notifications img {
  width: 37.5px;
  height: 40px;
}

.user-details img {
  margin-left: 30px;
}

.viajes {
  position: relative;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 90%;
  height: 235px;
  border: 1px solid #8D44AC;
  text-align: center;

}

.viajes a {
  text-decoration: none;
  color: black;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.historial {
  padding-top: 25%;
  width: 100%;
  height: 40%;
}

.historial h3 {
  text-decoration-line: underline; /* Establece el tipo de decoración como subrayado */
  text-decoration-color: #8E44AD; /* Establece el color de la línea, en este caso rojo (#FF0000) */
  text-decoration-skip: none; /* Permite que la línea subraye todo, incluyendo espacios entre letras */
  text-decoration-thickness: 1px; /* Cambia el ancho de la línea a 2 píxeles */
}

.via {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.via span {
  display: block;
}

.active {
  margin-left: 5px;
  width: 28px;
  height: 28px;
}

.car {
  width: 46px;
  height: 37px;
  margin-left: 20px;
}

.next {
  width: 38px;
  height: 38px;
}

.inf {
  width: 55%;
}
.search img {
  width: 35px;
  height: 35px;
}

.search{
  padding: 0;
  margin-top: 10px;
  margin-right: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.sect {
  padding-top: 10px;
  width: 100%;
}

.actions {
  height: 20px;
  padding-top: 10px;
}

.actions img {
  width: 35px;
  height: 35px;
}

.delete {
  margin-right: 150px;
}