body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .card {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    width: 360px;
    height: 700px;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: 30px;
  }
  
  img {
    margin-top: 30px;
    margin-bottom: 30px;

  }

  .card h1 {
    margin-top: 0;
  }

  .form-label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
  }

  .form-input {
    font-size: 16px;
    margin-bottom: 30px;
    background-color: #dfd7f0;
    width: 250px;
    height: 62px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    color: #ada5be;
    font-style: italic;
    text-align: center;
    font-weight: 600;
    
  }

  .form-input::placeholder,
  .form-input:focus {
    font-style: italic;
    text-align: center;
    color: #ada5be;
    font-weight: 600;
  }

  .form-button {
    background-color: #a271e1;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 250px;
    height: 62px;
    font-style: italic;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
  }

  .form-button:hover {
    background-color: #a271f2;
  }

  .register-link {
    margin-top: 10px;
  }

  .nav-bar {
    height: 51px;
    width: 250px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    background-color: #d1c4e9; 
  }
  
  .nav-link {
    font-size: 20px;
    border-radius: 15px;
    height: 100%;
    width: 50% ;
    text-decoration: none;
    color: #8D44AC;
    display: flex; 
    align-items: center;
    justify-content: center;
    line-height: 51px; 
  }
  
  .nav-link.active {
    background-color: #a271e1;
    color: #D1C4E9;
    height: 100%;
  }
  